<footer class="footer bg-light-purple text-white">
    <div class="container py-4">
        <div class="row">
            <div class="col-md-4">
                <h5 class="footer-title">About Me</h5>
                <p class="footer-description">Hi, I’m Ricardo Webley, a passionate software developer creating innovative solutions to challenging problems. Let’s build something amazing together!</p>
            </div>
            <div class="col-md-4">
                <h5 class="footer-title">Quick Links</h5>
                <ul class="footer-links">
                    <li><a href="/" class="footer-link">Home</a></li>
                    <li><a href="#projects" class="footer-link">Projects</a></li>
                    <li><a href="#contact" class="footer-link">Contact</a></li>
                    <li><a href="#blog" class="footer-link">Blog</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5 class="footer-title">Follow Me</h5>
                <ul class="social-icons d-flex gap-3">
                    <li>
                        <a href="#" class="social-icon">
                            <i class="bi bi-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/ricardo-webley-jamaica-jamaica/" target="_blank" class="social-icon">
                            <i class="bi bi-linkedin"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/ricardowebleyjm" class="social-icon" target="_blank">
                            <i class="bi bi-github"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="text-center mt-4">
            <p class="footer-note">© 2025 Ricardo Webley. All rights reserved.</p>
        </div>
    </div>
</footer>
