{% load static %}

  <header class="my-1">
    <nav class="navbar navbar-expand-md navbar-light bg-white fixed-top border-bottom border-gray-200">
      <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center" href="/">
          <img src="{% static 'core/images/logo.png' %}" class="rounded-circle" alt="Ricardo Webley Logo" height="32">
          <span class="ms-2 fs-4 fw-semibold">Ricardo</span>
        </a>
        <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link text-black active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-black" href="#aboutMe">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-black" href="#">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-black" href="#">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-black" href="#">Contact</a>
            </li>
          </ul>
          <button class="btn cta-btn-purple ms-3" type="button" data-bs-toggle="modal" data-bs-target="#hireMeModal">Hire Me</button>
        </div>
      </div>
    </nav>
  </header>
  